*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: rgb(41,0,83);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.main_container{
   
    background-color: transparent;
    box-shadow: 0px 0px 5px 2px #fdf5dfa2;
    border-radius: 10px;
    margin: 50px;
    padding: 50px;
}

.board{
    font-size: 65px;
    color: #fff;

}
.board>img{
    margin: 0 20px;
    height: 65px;
}

#enter_data{
    padding: 15px;
    
}
#enter_data>input{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}
#enter_data #country{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

#enter_data>button{
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #5dd5f3d8;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0px 0px 2px 2px #faf4e5c9;
}
#enter_data>button:hover{
    background-color: #48b8d4c9;
}

.index{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    background-color: #5dd5f3dc;
    box-shadow: 0px 0px 2px 2px #fdf5df80;
    border-radius: 5px;
}

#player_data{
   
    font-weight: bold;
    color: white;
}
  
.player-row{
    margin-top: 10px;
    display: flex; 
    align-items: center;
    background-color: transparent;
    border-bottom: 1px solid #eee;
}
.player-row:hover{
    background-color: #5dd5f380;
}

.rank{
   
    width: 50px;
    margin-left: 10px;
}
.name{
    
    width: 170px;
}
.country{
    width: 120px;  
}
.country>img{
    height: 18px;
    margin: 0px 30px 0px 0px;
}

.score{
   
    width: 90px;
}
.score-bt{
  
    display: flex;
    justify-content: center;
    padding-left: 10px;
    gap: 20px;
    width: 170px;
}
.score-btn{
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
   
}
.score-btn:hover{
    color: blue;
}

.delete-btn{
    justify-content: center;
    margin: 0 35px;
    width: 80px;
    background-color: transparent;
    color: #fff; 
    font-weight: bold;
    
    padding: 3px 5px;
    border: none;
    font-size: 15px;
    border-radius: 5px; 
    cursor: pointer;
   
}
.delete-btn:hover{
    color: #f00;
   
}

.joined-at{
    
    width: 110px;
    margin: 5px 10px;
    font-weight: normal;
    color: #eeeeeed7;
    
}